.recipes.recipes--admin > .row {
    margin: 0 8px 30px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    .recipes.recipes--admin > .row {
        margin: 0 0 30px;
    }
}